.App {
    text-align: center;
    height: 100%;
    margin: 0;
}

.App .Logo_nav {
    position: fixed;
    top: 15px;
    left: 0;
    z-index: 100;
    width: 70px;
    height: 70px;
    object-fit: contain;
   
}